.ab_b4 {
    background: linear-gradient(168deg, rgb(233, 244, 255) 0%, rgb(255, 255, 255) 100%);
    padding-top: 2vw;
    padding-bottom: 8vw;
    position: relative;
}

@media (max-width: 1240px){
.ab_b4 {
    padding: 2rem 5rem;
}}
@media (max-width: 1440px){
.ab_b4 {
    padding: 2rem 10rem;
}}
.ab_b4 {
    width: auto;
    padding: 0.5rem 12rem;
    -webkit-box-align: center;
    align-items: center;
}



@media (max-width: 1240px){
.ab_b4_1 {
    margin: 26px 0px;
}}
@media (max-width: 1440px){
.ab_b4_1 {
    margin: 32px 0px;
}}
.ab_b4_1 {
    display: flex;
    flex-direction: column;
    margin: 48px 0px;
    -webkit-box-align: center;
    align-items: center;
    align-items: center;
}

.ab_b4_1p1{
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    color: rgb(47, 52, 64);
}
.ab_b4_1p2{
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: rgb(89, 99, 121);
    margin-top: 10px;
    font-style: normal;
}
.ab_b4_2{
    display: grid;
    gap: 2vw;
    margin-top: 4vw;
    position: inherit;
    z-index: 10;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-bottom: 20vh;
}
.founder_1{
    will-change: transform;
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    padding-right: 20px;
}
.founder_1:hover{
    transform: scale(1.05);
}
.f1_text{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.f_name{
    padding-top: 20px;
    font-size: 24px;
    color: rgb(47, 52, 64);
    line-height: 32px;
}
.f_desc{
    font-size: 20px;
    font-weight: 400;
    color: rgb(47, 52, 64);
    line-height: 32px;
}
